body{
    padding: 80px;
    text-align: center;
    font-size: 17px;
    line-height: 1.42857143;
    color: #fff;
    font-weight: 200;
    background-color: #599edc;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}